<!doctype html>
<head>
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}"> -->
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href="../static/main.css">
</head>

<body style="background-color: #ffffff; color: #262730; font-family: 'Red Hat Text'; font-size:18px;">

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand px-3">
      <img src="../static/images/SSAI-Logo.png" alt="SSAI-Logo" width="62" height="62">
    </a>
    <h1 class="navbar-nav mb-2" style="color: #0d1e72; font-weight: 700;">
      SeaBASS Data Products
    </h1>

  </nav>

  <div class="container my-3">
    <form action = "http://localhost:5000/index" method = "POST" enctype = "multipart/form-data">
        <fieldset class="row mb-3">
          <label for="selectFile" class="col-form-label col-sm-3 pt-0">Choose SeaBASS file </label>
          <div class="col-sm-6">
            <input id="selectFile" class="form-control" type="file" name="file" accept=".sb" required>
          </div>
        </fieldset>
  
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-3 pt-0">Select a Routine</legend>
          <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input" type="radio" name= "routine" value= "metadata" >
              <label class="form-check-label" for="linear"> Export Metadata as CSV </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name= "routine" value="table" >
              <label class="form-check-label" for="linear"> Export Data Table as CSV </label>

            <div class = "reveal-if-active">
              <input type = "checkbox" name = "time" id = "time" value ="True">
              <label for = "time" >Add Concatenated Time</label>
            </div>

            <div class = "reveal-if-active">
               <input type = "checkbox" name = "date" id = "date" value ="True" >
              <label for = "date" >Add Concatenated Date</label>
            </div>

            </div>

          </fieldset>

       
        <div class="row mb-3">
          <div class="col-sm-3"></div>
          <button type='submit' class='col-sm-2 btn btn-primary' style="background-color: #0d1e72; border-color: #0d1e72;"> Start </button>
        </div>

    </form>
  </div>

</body>

