<!doctype html>
<head>
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}"> -->
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href="../static/main.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
      $(document).ready(function(){
          $(".form").hide();
          $(".form1").hide();

          $(".form-check2").click(function(){
            $(".form").show();
            $(".form1").hide();
          })

          $(".form-check3").click(function(){
            $(".form1").show();
            $(".form").hide();
          })

          $(".form-check1").click(function(){
            $(".form").hide();
            $(".form1").hide();
          })
      });
  </script>
</head>
<body style="background-color: #ffffff; color: #262730; font-family: 'Red Hat Text'; font-size:18px;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand px-3">
      <img src="../static/images/SSAI-Logo.png" alt="SSAI-Logo" width="62" height="62">
    </a>
    <h1 class="navbar-nav mb-2" style="color: #0d1e72; font-weight: 700;">
      SeaBASS Data Products
    </h1>
  </nav>
  <div class="container my-3">
    <form action = "http://localhost:5000/index" method = "POST" enctype = "multipart/form-data">
        <fieldset class="row mb-3">
          <label for="selectFile" class="col-form-label col-sm-3 pt-0">Choose SeaBASS file </label>
          <div class="col-sm-6">
            <input id="selectFile" class="form-control" type="file" name="file" accept=".sb" required>
          </div>
        </fieldset>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-3 pt-0">Select a Routine</legend>
          <div class="col-sm-9">
            <div class="form-check1">
              <input class="form-check-input" type="radio" name= "routine" value= "metadata" checked>
              <label class="form-check-label" > Export Metadata as CSV </label>
            </div>
            <div class="form-check2">
              <input class="form-check-input" type="radio" name= "routine" value="table" >
              <label class="form-check-label" > Export Data Table as CSV </label>
                <div class = "form">
                    <input type = "checkbox" name = "time1" id = "time1" value ="True">
                    <label for = "time1" >Add Concatenated Time</label>
                </div>
                <div class = "form">
                    <input type = "checkbox" name = "date1" id = "date1" value ="True" >
                    <label for = "date1" >Add Concatenated Date</label>
                </div>  
            </div>
            <div class="form-check3">
                <input class="form-check-input" type="radio" name= "routine" value="modsb" >
                <label class="form-check-label" > Add Extras to SeaBASS File </label>
                  <div class = "form1">
                      <input type = "checkbox" name = "time2" id = "time2" value ="True">
                      <label for = "time2" >Add Concatenated Time</label>
                  </div>
                  <div class = "form1">
                      <input type = "checkbox" name = "date2" id = "date2" value ="True" >
                      <label for = "date2" >Add Concatenated Date</label>
                  </div>  
              </div>         
          </fieldset>
        <div class="row mb-3">
          <div class="col-sm-3"></div>
          <button type='submit' class='col-sm-2 btn btn-primary' style="background-color: #0d1e72; border-color: #0d1e72;"> Start </button>
        </div>
    </form>
  </div>
</body>